<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="author" content="{{ site.author }}" />
    <title>{{ page.title }} | {{ site.author }}</title>
    <link rel="shortcut icon" href="/favicon.ico">
    <!--<link href="{{ site.url }}/feed/" rel="alternate" title="{{ site.author }}" type="application/atom+xml" />-->
    <link rel="stylesheet" type="text/css" href="/media/css/style.css">
    <link rel="stylesheet" type="text/css" href="/media/css/highlight.css">
    <link rel="stylesheet" type="text/css" href="/media/css/responsive.css">
    <script type="text/javascript" src="/media/js/jquery-1.7.1.min.js"></script>
    <script async src="https://static.medium.com/embed.js"></script>
  </head>
  <body>
    <div id="container">
      <div id="main" role="main">
        <header>
        <h1>{{ page.title }}</h1>
        <p>  张小北。<p>
        </header>
        <div class="blank"></div>
        <div class="nav">
        <span><a  class="" href="{{ site.url }}/">文章</a></span>
        <span><a  class="" href="{{ site.url }}/resume/">简历</a></span>
        <span><a  class="" href="{{ site.url }}/categories/">分类</a></span>
        <span><a  class="" href="{{ site.url }}/tags/">标签</a></span>
        <span><a  class="" href="{{ site.url }}/backup/">备份</a></span>
        <span><a  href="http://weibo.com/339340001" target="_blank">微博</a></span>
        <span><a  href="http://www.douban.com/people/zhangjoshua/" target="_blank">豆瓣</a></span>
        </div>
        <div style="clearfix">
          <div class="sider">
            <a class="m-profile" style="float: left;" href="https://medium.com/@zhangjoshua">Joshua ZH</a> 
            <image src="{{site.url}}/wechat.png" class="wechat"></image>   
          </div>
          <article class="content" >
          {{ content }}
          </article>
        </div>
      </div>
    </div>
  </body>
</html>
